*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/androidlibrary/build/
!/androidlibrary/build/outputs/aar/androidlibrary-debug.aar
!/androidlibrary/build/outputs/aar/androidlibrary-release.aar
