*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/androidlibrary/build/generated
/androidlibrary/build/intermediates
/androidlibrary/build/outputs/logs
/androidlibrary/build/tmp
