<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="org.wheatgenetics.androidlibrarybuilder">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"          />
    <uses-permission android:name="android.permission.INTERNET"                        />
    <uses-feature    android:name="android.hardware.usb.host" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="org.wheatgenetics.brapi1_3.studies.Application"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />

            <intent-filter>
                <action   android:name="android.intent.action.MAIN"       />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".WebViewActivity" />

        <activity android:name=".mstrdtl.ItemActivity" />
        <activity android:name=".mstrdtl.ListActivity" />

        <activity android:name=".mstrdtl.ChangeableItemActivity" />
        <activity android:name=".mstrdtl.ChangeableListActivity" />

        <activity android:name="org.wheatgenetics.brapi1_3.studies.slr.StudyLayoutRequestLayoutItemActivity" />
        <activity android:name="org.wheatgenetics.brapi1_3.studies.slr.StudyLayoutRequestListActivity"       />

        <activity android:name="org.wheatgenetics.brapi1_3.studies.nor.NewObservationsRequestObservationsItemActivity" />
        <activity android:name="org.wheatgenetics.brapi1_3.studies.nor.NewObservationsRequestListActivity"             />

        <activity android:name="org.wheatgenetics.brapi1_3.studies.nour.NewObservationUnitRequestItemActivity"  />
        <activity android:name="org.wheatgenetics.brapi1_3.studies.nour.NewObservationUnitRequestsListActivity" />
        <activity android:name="org.wheatgenetics.brapi1_3.studies.nour.oux.ObservationUnitXrefListActivity"    />
        <activity android:name="org.wheatgenetics.brapi1_3.studies.nour.o.ObservationItemActivity"              />
        <activity android:name="org.wheatgenetics.brapi1_3.studies.nour.o.ObservationsListActivity"             />
        <activity android:name="org.wheatgenetics.brapi1_3.studies.nour.ot.TreatmentsListActivity"              />

        <activity
            android:name=".brapi1_3.Activity"
            android:label="@string/title_activity_brapi1_3"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>