<manifest package="org.phenoapps.androidlibrary"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Camera/Record audio needed for usb cameras -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <!--bluetooth permission for Android S 12 (31) -->
    <!-- run time region, required to check on use -->
    <!-- scan required when searching for Bluetooth devices -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <!-- advertise allows other devices discover this app -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>
    <!-- connect lets you communicate with os-paired devices -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <!-- fine / coarse locations are never used for location in phenoapps -->
    <!-- but they are required to check on runtime and for older versions -->
<!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"-->
<!--        android:usesPermissionFlags="neverForLocation"-->
<!--        tools:targetApi="s"/>-->
<!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"-->
<!--        android:usesPermissionFlags="neverForLocation"-->
<!--        tools:targetApi="s"/>-->
    <!-- Android 11 R (30) and lower -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- run time region end -->

    <!-- Request legacy Bluetooth permissions on older devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />

    <!-- add these to require Bluetooth / BLE capabilities -->
    <uses-feature android:name="android.hardware.bluetooth" android:required="true"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <uses-feature android:name="android.hardware.usb.host" android:required="false"/>
</manifest>